@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.sales-report {
  display: flex;
  flex-direction: column;
  margin: 20px;

  h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    margin-bottom: 20px;

    thead {
      background-color: #f7f7f7;
      font-weight: bold;

      th {
        text-align: left;
      }
    }

    tbody {
      tr {
        td {
          padding: 10px;
        }
      }
    }
  }
}
