@tailwind base;
@tailwind components;
@tailwind utilities;

.sales-report {
  display: flex;
  flex-direction: column;
  margin: 20px;

  h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    margin-bottom: 20px;

    thead {
      background-color: #f7f7f7;
      font-weight: bold;

      th {
        text-align: left;
      }
    }

    tbody {
      tr {
        td {
          padding: 10px;
        }
      }
    }
  }
}
